/* import google from '../assets/google.png';
import '../css/forms.css'

function Login() {
  return (
    <form action="" className='form'>
      <h1 className='heading'>TASKHUB</h1><br /><br />
      <h2 className='signIn'>SIGN IN</h2>
      <label className='label'>
        <p>Username</p>
        <input type="text" className='userInput' />
      </label>
      <label className='label'>
        <p>Password</p>
        <input type="password" className='userInput'/>
      </label>
      <h4 className='forget'>Forgot password?</h4>
      <div>
        <button type="submit" className='btn'>Sign In</button>
      </div>
      <p>or</p>
      <div className='googleDiv'>
        <img src={google} alt="" className='googleImg' />
        <p>Sign in with Google</p>
      </div>
      <p className='pNext'>Are you new?<span className='span'> Create an Account</span></p>
    </form>
  );
}
export default Login;




.form {
    background-color: whitesmoke;
    margin: auto;
    height: 80vh;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.heading {
    font-size: 50px;
    margin-bottom: 15px;
    color: #92e3a9;
    margin-top: 100px;
}

.signIn {
    font-size: 30px;
    margin-bottom: 10px;
}

.userInput {
    padding: 8px 60px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.label {
    margin-top: 20px;
}

.forget {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #92e3a9;
    margin-left: 180px;
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    padding: 8px 128px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.googleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
    cursor: pointer;
}

.googleImg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.span {
    color: #92e3a9;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.pNext {
    margin-top: 15px;
} */
