*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:whitesmoke;
    color:var(--black);
  }
  
  :root{
    --black: #000;
    --white: #fff;
    --whitesmoke:whitesmoke;
    --primary: #92e3a9;
    --whitesmoke:whitesmoke;
    --pink:pink;
  }

  .main-page{
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;
  }

  .NavSection{
    height:96vh;
    width:15%;
    margin:0 auto;
    margin-top:2vh;
    border-radius:20px;
    background-color:var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .MainSection{
    height:96vh;
    width:80%;
    background-color:var(--primary);
    margin:0 auto;
    margin-top:2vh;
    border-radius:20px;
    flex-direction:column;
    background-color:var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
