:root {
   --black: #000;
   --white: #fff;
   --primary: #92e3a9;
   --pink: pink;
   --gray: gray;
   --fadedBlack: rgba(0, 0, 0, 0.2);
 }
 
 .TopArticle {
   height: 10vh;
   margin: 0 auto;
   margin-top: 2vh;
   border-radius: 20px;
   width: 96%;
   padding-top: 5px;
   align-items: center;
   justify-content: center;
   display: flex;
   margin-bottom: 2vh;
 }
 
 .BottomArticle {
   height: 80vh;
   margin-top: 2vh;
   margin: 0 auto;
   border-radius: 20px;
   width: 96%;
   padding-top: 2vh;
   display: flex;
 }
 
 .title h1 {
   font-size: 50px;
   color: var(--primary);
 }
 
 .title button {
   margin-left: 20px;
   padding: 10px 20px;
   background-color: var(--primary);
   border: none;
   border-radius: 5px;
   color: var(--white);
   cursor: pointer;
 }
 
 .title button:hover {
   background-color: var(--black);
 }
 
 .teamLists {
   width: 100%;
   height: 75vh;
   margin-left: 1%;
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   overflow-y: auto;
 }
 
 .grid-item {
   text-align: center;
   padding: 20px;
   font-size: 18px;
   border-radius: 8px;
   background-color: var(--white);
   box-shadow: 0px 4px 10px var(--fadedBlack);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 
 .grid-item h2 {
   font-size: 24px;
   background-color: transparent
 }
 
 .grid-item p {
   font-size: 16px;
   color: var(--gray);
   background-color:transparent
 }
 
 .members {
   margin-top: 10px;
 }
 
 .members ul {
   display: flex;
   list-style: none;
   padding: 0;
 }
 
 .members li {
   color: var(--black);
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: var(--gray);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
 }
 
 .project-item {
   margin-top: 20px;
   text-align: start;
 }
 
 .project-item h5 {
   font-size: 20px;
   color: var(--black);
 }
 
 .tasks {
   margin-top: 10px;
   list-style: none;
   padding: 0;
 }
 
 .task-item {
   position: relative;
   padding: 5px;
   background-color: var(--fadedBlack);
   border-radius: 4px;
   margin-bottom: 5px;
   cursor: pointer;
 }
 
 .task-item:hover::after {
   content: attr(title);
   position: absolute;
   top: -30px;
   left: 0;
   padding: 5px 10px;
   background-color: var(--black);
   color: var(--white);
   border-radius: 4px;
   font-size: 12px;
   white-space: nowrap;
   z-index: 10;
 }
 
 .btns {
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
 }
 
 .btns button {
   padding: 8px 15px;
   background-color: var(--primary);
   border: none;
   border-radius: 5px;
   color: var(--white);
   cursor: pointer;
   width: 48%;
 }
 
 .btns button:hover {
   background-color: var(--black);
 }

.task-modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000; 
 }
 
 .modal-content {
   background-color: var(--white);
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   width: 400px;
   max-width: 90%;
   text-align: center;
 }
 
 .modal-content h3 {
   font-size: 1.8rem;
   margin-bottom: 20px;
   bac
 }
 
 .modal-content input,
 .modal-content select {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 5px;
   border: 1px solid var(--gray);
   font-size: 1rem;
   background-color: var(--whitesmoke);
   box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
 }
 
 .modal-buttons {
   display: flex;
   justify-content: space-between;
 }
 
 .modal-buttons button {
   width: 48%;
   padding: 10px;
   font-size: 1rem;
   font-weight: bold;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   background-color: var(--primary);
   transition: background-color 0.3s ease;
 }
 
 .modal-buttons button:hover {
   background-color: var(--black);
   color: var(--white);
 }

 /* Button styling */
.button {
   padding: 10px;
   background-color: var(--primary);
   border: none;
   border-radius: 5px;
   color: var(--white);
   cursor: pointer;
   width: 100%;
   transition: background-color 0.3s ease;
 }
 
 .button:hover {
   background-color: var(--black);
 }
 