*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color: var(--whitesmoke) ;
  color:var(--black);
}

:root{
  --black: #000;
  --white: #fff;
  --primary: #92e3a9;
  --whitesmoke:whitesmoke;
}
.SignUp{
  display:flex;
  width:100%;
  height:100vh;
  background-color: blue;
}
.image{
  width: 50%;
  height:100vh;
  background-color:red;
}
.form{
  width: 50%;
  height:100vh;
  background-color:#FAFFFB;
}

